.field {
  width: 100%;
  min-height: 30vh;
  resize:vertical;
}

#languages {
  resize:none;
  min-height: 0vh;
  height: 20px;
}

#graph {
  width: 100%;
  height: 60vh;
  max-height: 512px;
  background-color: #fffcf2;
  border: 1px solid black;
}

td {
   border: 1px solid black;
   width: 50%;
 }
